.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
  fill: currentColor;
}
.icon-only {
  width: 0.75em;
  height: 0.75em;
  vertical-align: -0.15em;
  overflow: hidden;
  fill: rgb(229, 229, 229);
}
